SynapsePipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"packtadesynapse13"},"packtadesynapse13-WorkspaceDefaultStorage":{"type":"string"},"packtadesynapse13-WorkspaceDefaultSqlServer":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/SynapsePipeline')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Copytxntosynapse","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"SqlDWSink","preCopyScript":"if exists(Select * from sys.objects where name like 'transactiontable')\nDROP TABLE  dbo.transactiontable;\nCREATE TABLE dbo.transactiontable([tid] bigint,\n\t[transaction_date] date,\n\t[order_count] bigint,\n\t[total_cost] bigint,\n\t[sid] bigint,\n\t[pid] bigint,\n\t[c1] nvarchar(200),\n\t[c2] nvarchar(200))\n  WITH (  DISTRIBUTION  = ROUND_ROBIN);","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","disableMetricsCollection":false},"enableStaging":true,"stagingSettings":{"linkedServiceName":{"referenceName":"[parameters('packtadesynapse13-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"}},"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"tid","type":"String"},"sink":{"name":"tid","type":"Int64"}},{"source":{"name":"transaction_date","type":"String"},"sink":{"name":"transaction_date","type":"DateTime"}},{"source":{"name":"order_count","type":"String"},"sink":{"name":"order_count","type":"Int64"}},{"source":{"name":"total_cost","type":"String"},"sink":{"name":"total_cost","type":"Int64"}},{"source":{"name":"sid","type":"String"},"sink":{"name":"sid","type":"Int64"}},{"source":{"name":"pid","type":"String"},"sink":{"name":"pid","type":"Int64"}},{"source":{"name":"c1","type":"String"},"sink":{"name":"c1","type":"String"}},{"source":{"name":"c2","type":"String"},"sink":{"name":"c2","type":"String"}}]}},"inputs":[{"referenceName":"TransactionTable","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"SynapseTransactionTable","type":"DatasetReference","parameters":{}}]},{"name":"synapsetoParquet","type":"ExecuteDataFlow","dependsOn":[{"activity":"Copytxntosynapse","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"1.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"SQLtoParquet","type":"DataFlowReference","parameters":{},"datasetParameters":{"source1":{},"sink1":{}}},"staging":{"linkedService":{"referenceName":"[parameters('packtadesynapse13-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"},"folderPath":"adfstagedcommandtempdata"},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"annotations":[],"lastPublishTime":"2022-07-28T16:34:56Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/TransactionTable')]","[concat(variables('workspaceId'), '/datasets/SynapseTransactionTable')]","[concat(variables('workspaceId'), '/dataflows/SQLtoParquet')]"]},{"name":"[concat(parameters('workspaceName'), '/TransactionTable')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('packtadesynapse13-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"transaction-tbl.csv","folderPath":"CSV","fileSystem":"synapse"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"tid","type":"String"},{"name":"transaction_date","type":"String"},{"name":"order_count","type":"String"},{"name":"total_cost","type":"String"},{"name":"sid","type":"String"},{"name":"pid","type":"String"},{"name":"c1","type":"String"},{"name":"c2","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/SynapseTransactionTable')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('packtadesynapse13-WorkspaceDefaultSqlServer')]","type":"LinkedServiceReference","parameters":{"DBName":"packtadesqlpool"}},"annotations":[],"type":"AzureSqlDWTable","schema":[{"name":"tid","type":"bigint","precision":19},{"name":"transaction_date","type":"date"},{"name":"order_count","type":"bigint","precision":19},{"name":"total_cost","type":"bigint","precision":19},{"name":"sid","type":"bigint","precision":19},{"name":"pid","type":"bigint","precision":19},{"name":"c1","type":"nvarchar"},{"name":"c2","type":"nvarchar"}],"typeProperties":{"schema":"dbo","table":"transactiontable"}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/SQLtoParquet')]","type":"Microsoft.Synapse/workspaces/dataflows","apiVersion":"2019-06-01-preview","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"SynapseTransactionTable","type":"DatasetReference"},"name":"source1"}],"sinks":[{"dataset":{"referenceName":"Parquet1","type":"DatasetReference"},"name":"sink1"}],"transformations":[{"name":"select1"},{"name":"rank1"}],"scriptLines":["source(output(","          tid as long,","          transaction_date as date,","          order_count as long,","          total_cost as long,","          sid as long,","          pid as long,","          c1 as string,","          c2 as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     isolationLevel: 'READ_UNCOMMITTED',","     format: 'table',","     staged: true) ~> source1","source1 select(skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> select1","select1 rank(desc(total_cost, true),","     output(rank_by_cost as long)) ~> rank1","rank1 sink(allowSchemaDrift: true,","     validateSchema: false,","     format: 'parquet',","     umask: 0022,","     preCommands: [],","     postCommands: [],","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> sink1"]}},"dependsOn":["[concat(variables('workspaceId'), '/datasets/SynapseTransactionTable')]","[concat(variables('workspaceId'), '/datasets/Parquet1')]"]},{"name":"[concat(parameters('workspaceName'), '/Parquet1')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('packtadesynapse13-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"parquet","fileSystem":"synapse"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}